{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    <h1>Функционал</h1>

<!-- Вывод функциональных кнопок, если администратор -->
        {% if current_user.admin %}
        <div class="d-flex justify-content-end">
            <a href="{{ url_for('period') }}" class="btn btn-outline-primary">
                <i class="bi bi-calendar2-plus"></i> добавить новый период
            </a><pre> </pre> 
            <a href="{{ url_for('register') }}" class="btn btn-outline-primary">
                <i class="bi bi-person-plus"></i> добавить нового пользователя
            </a>
        </div>
        <br>
        {% endif %}

<!-- Блок формы добавления нового мероприятия /или редактируемого -->
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                        {% if title == "Редактирование мероприятия" %}
                            <b>Отредактируйте мероприятие:</b>
                        {% else %}
                            <b>Добавить новое мероприятие:</b>
                        {% endif %}
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <p>
                            {{ form.title.label }}<br>
                            {{ form.title(class="form-control") }}<br>
                            
                            {{ form.date_start.label }}<br>
                            {{ form.date_start(class="form-control") }}<br>

                            {{ form.date_end.label }}<br>
                            {{ form.date_end(class="form-control") }}<br>

                            {{ form.type_event.label }}<br>
                            {{ form.type_event(class="form-control") }}<br>

                            {{ form.level_event.label }}<br>
                            {{ form.level_event(class="form-control") }}<br>

                            {{ form.members.label }}<br>
                            {{ form.members(class="form-control") }}<br>

                            {{ form.content.label }}<br>
                            {{ form.content(class="form-control") }}<br> 
                        </p>

                        {% for mess in get_flashed_messages() %}
                        <div class="alert alert-danger" role="alert">
                            {{ mess }}
                        </div>
                        {% endfor %}

                        <div class="d-flex">
                            {{ form.submit(type="submit", class="btn btn-primary") }}<pre> </pre>
                                {% if title == "Редактирование мероприятия" %}
                                    <a href="{{ url_for('function') }}" class="btn btn-outline-secondary ">
                                        <i class="bi bi-arrow-counterclockwise"></i>тменить редактирование</a>
                                {% else %}
                                    <a href="{{ url_for('function') }}" class="btn btn-outline-secondary ">
                                        <i class="bi bi-arrow-counterclockwise"></i>чистить</a>
                                {% endif %}
                        </div><br>
                    </form>
                
<!-- Если редактируем, вывести редактируемое мероприятие -->
                    {% if title == "Редактирование мероприятия" and events %}
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{events[0].title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-box"></i> {{events[0].type_event.capitalize()}} -
                                Уровень: {{events[0].level_event.capitalize()}} -
                                <i class="bi bi-calendar3"></i> Дата: {{events[0].start_date.strftime("%d.%m.%Y г.")}} -
                                <i class="bi bi-people-fill"></i> Участники: {{events[0].members}} чел.</h6>
                            <div class="card-body">{{events[0].content}}</div>
                            <p class="card-text"><i class="bi bi-chat-right-text"></i> Преподаватель - {{events[0].user.name}}</p>
                        </div>
                    </div>
                    {% endif %}   
                </div>
              </div>
            </div>
<!-- Блок отображения мероприятий пользователя -->
            {% if title != "Редактирование мероприятия" %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                        <b>Просмотр своих мероприятий:</b>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                    
                    {% for item in events %}
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-box"></i> {{item.type_event.capitalize()}} -
                                Уровень: {{item.level_event.capitalize()}} -
                                <i class="bi bi-calendar3"></i> Дата: {{item.start_date.strftime("%d.%m.%Y г.")}} -
                                <i class="bi bi-people-fill"></i> Участники: {{item.members}} чел.</h6>
                            <div class="card-body">{{item.content}}</div>
                            <p class="card-text"><i class="bi bi-chat-right-text"></i> Преподаватель - {{item.user.name}}</p>

                            {% if current_user.is_authenticated and current_user == item.user %}
                            <div class="d-flex">
                                <a href="/function/{{ item.id }}" class="btn btn-outline-success btn-sm">
                                    <i class="bi bi-pencil"></i> Редактирование мероприятия
                                </a><pre> </pre> 
                                <a href="/event_delete/{{ item.id }}" class="btn btn-outline-danger btn-sm">
                                    <i class="bi bi-trash3"></i> Удалить мероприятие
                                </a>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <br>
                    {% endfor %}
                  </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% else %}
        <h2>Информация не доступна (Вы не авторизованы)</h2>
        <h2><a class="navbar-brand" href="sign_in">... перейти на страницу авторизации ></a></h2>
    {% endif %}

{% endblock %}