{% extends "base.html" %}

{% block content %}
<h1>Зарегистрировать нового пользователя</h1>
    {% if current_user.admin %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}
                {{ form.name(class="form-control") }}<br>

                {{ form.login.label }}
                {{ form.login(class="form-control") }}<br>

                {{ form.email.label }}<br>
                {{ form.email(class="form-control", type="email") }}<br>

                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>

                {{ form.password_again.label }}<br>
                {{ form.password_again(class="form-control", type="password") }}<br>
            </p>
            
            {% for mess in get_flashed_messages() %}
                {% if mess == "oK"%}
                    <div class="alert alert-success" role="alert">
                        {{ mess }}
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        {{ mess }}
                    </div>
                {% endif %}
            {% endfor %}

            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
        <br>
        <h4>Текущие пользователи:</h4>
        {% for user in users %}
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title"> Пользователь - <i class="bi bi-person-circle"></i> {{ user.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-check-circle"></i> логин - {{ user.login }}</h6>
                    <p><i class="bi bi-envelope-at"></i> {{ user.email }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h2>Информация не доступна</h2>
    {% endif %}
{% endblock %}