{% extends "base.html" %}

{% block content %}
<h1>Войти в систему <i class="bi bi-person-check-fill"></i></h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control") }}<br>
        {% for error in form.username.errors %}
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
        {% endfor %}
    </p>
    {% for mess in get_flashed_messages() %}
    <div class="alert alert-danger" role="alert">
        {{ mess }}
    </div>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary" ) }}</p>
</form>
{% endblock %}


<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Адрес электронной почты</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль">
    <label for="floatingPassword">Пароль</label>
  </div>